<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid" >
        <div>
          <a class="navbar-brand" id="textoLogo" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/img/Logo_AP.png" alt="logo de argentina programa" id="logoAP">Argentina Programa - #YoProgramo</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav flex-row ml-md-auto d-md-flex">
              <a class="nav-link nav-item p-2" id="github" href="" target="_blank"><i class="fa-brands fa-github fa-2x" aria-hidden="true"></i></a>
              <a class="nav-link nav-item p-2" id="linkedin" href="" target="_blank"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></a>
              <a class="nav-link nav-item p-2" id="instagram" href="" target="_blank"><i class="fa-brands fa-instagram fa-2x" aria-hidden="true"></i></a>
              <a class="nav-link nav-item p-2" id="whatsapp" href="" target="_blank"><i class="fa-brands fa-whatsapp fa-2x" aria-hidden="true"></i></a>
              <a class="nav-link nav-item p-2" id="facebook" href="" target="_blank"><i class="fa-brands fa-facebook fa-2x" aria-hidden="true"></i></a>
              <button id="login" class="btn btn-dark ms-3 nav-item">Login</button>
            </div>
        </div>           
    </div>
</nav>