<div class="row">
    <div>
        <h1>Proyectos</h1>
    </div>
    <div class="container-fluid">
        <div>
            <div class="info col-sm-12 col-md-6 col-lg-7">
                <h2>Task List</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit provident omnis veniam maiores, autem tempore reiciendis repellendus? Ipsa animi iste voluptate excepturi deserunt cumque eligendi omnis architecto, ut laudantium voluptatem?</p>
            </div>
            <div class="imagen col-sm-12 col-md-6 col-lg-5">
                <img src="../../../assets/img/TaskList.jpg" class="img-fluid" alt="portada del proyecto task list">
            </div>
        </div>
        <div>
            <div class="info col-sm-12 col-md-6 col-lg-7">
                <h2>Task List</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit provident omnis veniam maiores, autem tempore reiciendis repellendus? Ipsa animi iste voluptate excepturi deserunt cumque eligendi omnis architecto, ut laudantium voluptatem?</p>
            </div>
            <div class="imagen col-sm-12 col-md-6 col-lg-5">
                <img src="../../../assets/img/TaskList.jpg" class="img-fluid" alt="portada del proyecto task list">
            </div>
        </div>
    </div>






</div>
