<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="trabajos col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minus eius tenetur nisi ut unde est, magnam beatae quidem dolorem. Nisi doloremque est nihil accusantium. Enim aspernatur eligendi consectetur? Laudantium.</p>
            </li>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minus eius tenetur nisi ut unde est, magnam beatae quidem dolorem. Nisi doloremque est nihil accusantium. Enim aspernatur eligendi consectetur? Laudantium.</p>
            </li>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minus eius tenetur nisi ut unde est, magnam beatae quidem dolorem. Nisi doloremque est nihil accusantium. Enim aspernatur eligendi consectetur? Laudantium.</p>
            </li>
        </ul>
    </div>
</div>
