.row{
    padding: 2%;
    padding-top: 2.5%;
    padding-bottom: 4%;
}

div{
    background-color: #231f20;
    color: white;
    margin: 0;
    padding-top: 30px;
}

img{
    margin: auto;
  display: block;
}

#perfil{
    background-color: #404040;
    border-radius: 1%;
    height: fit-content;
    border: dashed;
    border-color: #231f20;
    border-width: 5px;
    
}

#nombre{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
}

#titulo{
    font-size: larger;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

#acercade{
    padding-left: 2%;
    padding-right: 2%;
}

h1{
    display: inline;
    padding: 10px;
}

span p{
    margin-top: 28px;
}

/*FOTO RESPONSIVE*/

@media (max-width: 575.98px){
    #foto{
        position: absolute;
        width: 40%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem #221f20);
        left: 30%;
        top: 185px;
    }
    
    #nombre{
        margin-top: 20px;
    }

    #titulo{
        margin-bottom: 2px;
        padding-bottom: 18px;
    }

    #acercade{
       padding-left: 5%;
       padding-right: 5%;
    }
}

@media (min-width: 576px) and (max-width:767.98px){
    #foto{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    filter: drop-shadow(0 0 2rem #221f20);
    left: 5%;
    top: 250px;
    }
}

@media (min-width: 768px) and (max-width:991.98px){
    #foto{
        position: absolute;
        width: 23%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem #221f20);
        left: 7.5%;
        top: 340px;
        }
}

@media (min-width: 992px) and (max-width:1199.98px){
    #foto{
        position: absolute;
        width: 18%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem #221f20);
        left: 9%;
        top: 450px;
        }

        
    }

@media (min-width: 1200px){
    #foto{
        position: absolute;
        width: 16%;
        border-radius: 100%;
        filter: drop-shadow(0 0 1.5rem black);
        left: 10.5%;
        top: 535px;
        }

    #nombre{
        padding-left: 2%px;
        padding-top: 3%;
        margin-top: 2%;
    }
        
    #titulo{
        padding-left: 4%;
        padding-right: 1%;
    }

    #acercade{
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
}