footer{
    background-color: #231f20;
    color: white;
}

.container-fluid{
    padding-top: 1%;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
}