.row{
    padding: 20px;
    padding-bottom: 40px;
}

div{
    background-color: #231f20;
    color: white;
    margin: 0;
    padding-top: 30px;
}

img{
    margin: auto;
  display: block;
}

#perfil{
    background-color: #2c2828;
    border-radius: 1%;
}

#nombre{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5px;
}

#titulo{
    font-size: larger;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5px;
}

#acercade{
    padding-left: 2%;
    padding-right: 2%;
}

h1{
    background-color: #2c2828;
    border-radius: 1%;
    display: inline;
    padding: 10px;
}

span p{
    margin-top: 28px;
}

/*FOTO RESPONSIVE*/

@media (max-width: 575.98px){
    #foto{
        position: absolute;
        width: 46%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem black);
        left: 27%;
        top: 565px;
    }
    
    #nombre{
        margin-top: 20px;
    }

    #titulo{
        margin-bottom: 2px;
        padding-bottom: 18px;
    }

    #acercade{
       padding-left: 5%;
       padding-right: 5%;
    }
}

@media (min-width: 576px) and (max-width:767.98px){
    #foto{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    filter: drop-shadow(0 0 2rem black);
    left: 5%;
    top: 520px;
    }
}

@media (min-width: 768px) and (max-width:991.98px){
    #foto{
        position: absolute;
        width: 24%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem black);
        left: 7%;
        top: 525px;
        }
}

@media (min-width: 992px) and (max-width:1199.98px){
    #foto{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem black);
        left: 8%;
        top: 520px;
        }
    }

@media (min-width: 1200px){
    #foto{
        position: absolute;
        width: 18%;
        border-radius: 100%;
        filter: drop-shadow(0 0 2rem black);
        left: 9%;
        top: 512px;
        }

    #nombre{
        padding-left: 20px;
        padding-top: 25px;
    }
        
    #titulo{
        padding-left: 5%;
        padding-right: 1%;
    }

    #acercade{
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
}