<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img id="perfil" src="../../../assets/COMMIDARI_PERFIL.jpg" alt="foto de perfil" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">Sebastián Commidari</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div id="acercade" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita voluptate a at, asperiores similique fugiat ipsum perspiciatis reiciendis veniam rem, obcaecati facere veritatis repudiandae commodi. Officia laborum consequatur nostrum quibusdam.</p>
        </span>
    </div>
</div>
