h1, label, p{
    color:white;
}

.btn {
    min-height: 3.125rem;
    font-weight: 700;
    background-color: #231f20;
    border-width: 3px;
    border-color: #fbb217;
}

.btn:hover{
    border-color: #fbb217;
    filter: drop-shadow(0 0 0.20rem #fbb217);
    background-color: #231f20;
}

.btn:focus {
    border-color: #fbb217; 
  } 

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.img-1 {
    background-image: url('../../../assets/img/Ciberseguridad.jpg');
    background-size: cover;
    background-position: center;
}

#logoAP{
    height: 140px;
    border-radius: 10px;
    border: solid 5px;
    border-color: white;
}

p.espacio{
    margin-right: 8px;
}
