.row{
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0;
}

div {
    color: white;
    background-color: #231f20;
}

h1, h3{
    display: inline;
}

.titulo{
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #404040;
    width: fit-content;
    filter: drop-shadow(0 0 0.5rem #221f20);
    border: dashed;
    border-color: #231f20;
    border-width: 5px;
}

.estudios{
    background-color: #404040;
    padding: 2%;
    margin-bottom: 1%;
    border-radius: 1%;
    filter: drop-shadow(0 0 0.5rem #221f20);
    border: dashed;
    border-color: #231f20;
    border-width: 5px;
}

@media (max-width: 575px){
    
    h1, h3{
        padding: 5px;
    }
    
    
    .estudios{
        margin: 0;
        padding: 30px;
        padding-left: 10px;
    }

    }