<div class="row">
    <div>
        <h1 class="titulo">Hard & Soft Skills</h1>
    </div>
    <div class="skills col-lg-11 container-fluid">
    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/img/HTML5.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="13"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fbb217'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
    <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/img/CSS3.png'"
        [imageHeight]="100"
        [imageWidth]="74"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fbb217'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
    <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/img/BOOTSTRAP.png'"
        [imageHeight]="180"
        [imageWidth]="170"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fbb217'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
    <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/img/JAVASCRIPT.png'"
        [imageHeight]="95"
        [imageWidth]="95"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fbb217'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/img/ANGULAR.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fbb217'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
   <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/img/MYSQL.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fbb217'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/img/GITHUB.png'"
            [imageHeight]="130"
            [imageWidth]="130"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#fbb217'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
        </div>
       <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [imageSrc]="'../assets/img/CSHARP.png'"
            [imageHeight]="140"
            [imageWidth]="140"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#fbb217'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
            <circle-progress
                [percent]="55"
                [radius]="100"
                [imageSrc]="'../assets/img/JAVA.png'"
                [imageHeight]="135"
                [imageWidth]="135"
                [showImage]="true"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#fbb217'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [imageSrc]="'../assets/img/SPRING.png'"
                    [imageHeight]="100"
                    [imageWidth]="100"
                    [showImage]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#fbb217'"
                    [innerStrokeColor]="'white'"
                    [animation]="true"
                    [animationDuration]="1000"
                ></circle-progress>
                </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [imageSrc]="'../assets/img/ENGLISH.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#fbb217'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 text-center skill">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [imageSrc]="'../assets/img/SOFTSKILLS.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#fbb217'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
            </div>
            
            
    </div>
</div>