ul{
    list-style: none;
}

li{
    display: inline;
}

a{
    color: white;
}

#instagram:hover{
    color: #E1306C; 
}

#whatsapp:hover{
    color: #4dca5a; 
}

#linkedin:hover{
    color: #2596be; 
}


#facebook:hover{
    color: #1876f0; 
}

button{
    background-color: #231f20;
    border: solid 3px;
    font-weight: 500;
    margin-right: 7px;
}

button:hover{
    border-color: #fbb217;
    background-color: #443c34;
}

button:focus {
    border-color: #fbb217; 
  } 