
<div class="collapse navbar-collapse" id="navbarSupportedContent">

  <div class="navbar-nav flex-row ml-md-auto d-md-flex">
  
    <a class="nav-link nav-item p-2" id="github" href="" target="_blank"><i class="fa-brands fa-github fa-2x" aria-hidden="true"></i></a>
  
    <a class="nav-link nav-item p-2" id="linkedin" href="" target="_blank"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></a>
  
    <a class="nav-link nav-item p-2" id="instagram" href="" target="_blank"><i class="fa-brands fa-instagram fa-2x" aria-hidden="true"></i></a>
   
    <a class="nav-link nav-item p-2" id="whatsapp" href="" target="_blank"><i class="fa-brands fa-whatsapp fa-2x" aria-hidden="true"></i></a>
  
    <a class="nav-link nav-item p-2" id="facebook" href="" target="_blank"><i class="fa-brands fa-facebook fa-2x" aria-hidden="true"></i></a>
  
  <button class="btn btn-dark ms-3 nav-item">Login</button>

</div>
</div>
